@import "tailwindcss";

@theme {
	--color-surface:#ffffff;
	--color-container:#f3f3f3;
	--color-tertiary:#abefe4;
	--color-on-surface:#28303b;
	--color-on-tertiary:#19202c;
	--color-outline:#d0d0d0;
	--color-accent:#2f54e2;
	--color-error:#ffcdcc;
	--color-on-error:#19202c;
}

/* Dark theme no implementation yet */
@layer theme{
	.dark{
		--color-surface:#ffffff;
		--color-container:#f3f3f3;
		--color-tertiary:#abefe4;
		--color-on-surface:#28303b;
		--color-on-tertiary:#19202c;
		--color-outline:#d0d0d0;
		--color-accent:#2f54e2;
		--color-error:#ffcdcc;
		--color-on-error:#19202c;
	}
}

/* AI generated defauls , will change later */
* {
	box-sizing: border-box;
	user-select: none;
	outline: none;
}

html, body {
	color: var(--color-on-surface);
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.scrollbar-none {
    scrollbar-width: thin;      
    scrollbar-color: transparent transparent; 
    -ms-overflow-style: none;   
    overflow: auto;           
}

.scrollbar-none::-webkit-scrollbar {
    width: 0px;                
    background: transparent;   
}

.custom-scrollbar {
	scrollbar-width: thin;      
	scrollbar-color: var(--color-outline) transparent; 
	-ms-overflow-style: auto;   
	overflow: auto;           
}




